body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #e5e5ec;
    padding: 10px;
    color: rgb(13, 13, 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    height: 40px;
    width: auto;
    margin-right: 10px;
    padding-right: 50px;
}

nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

nav a {
    color: rgb(18, 18, 18);
    text-decoration: underline;
    margin: 0 15px;
}

.login-container {
    display: flex;
    align-items: center;
}

.login-button,
.create-resume-button {
    background-color: #1a06f5;
    color: #efeef3;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    text-decoration: none;
}

.country-selector {
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    margin-right: 10px;
    position: relative;
}

.flag-dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: none;
    z-index: 1;
}

.flag-option {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: black;
    cursor: pointer;
}

.flag-option img {
    margin-right: 10px;
}

.main-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.left-section {
    width: 45%;
}

.right-section {
    width: 45%;
    text-align: center;
}

.resume-animation {
    /* Placeholder for the running animation */
    height: 300px;
    background-color: lightgray;
    margin-top: 20px;
}
.free-Resume{
    font-size: 36px;
     font-weight: bold; 
     margin-bottom: 10px;
     padding-left: 10%;
}
.body-content{
    font-size: 25px;
    padding-left: 10%;
    padding-top: 4%;
}
.section-divider {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.section {
    width: 30%;
    text-align: center;
}

.section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section p {
    font-size: 16px;
}

.wozber-services a {
    text-decoration: underline;
    color: #1a06f5;
    cursor: pointer;
}
.image-section {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.image-container {
    text-align: center;
}

.centered-image {
    max-width: 80%;
    max-height: 100%;
    display: inline-block;
    
}